    <footer>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="/inc/dynamics.min.js"></script>
      <script src="/inc/animations.js"></script>
    </footer>
  </body>
</html>
