{{! This is the Index of the Blog }}

{{> header}}

  <section id="content">
    <div class="container">
      <div class="row">
        <div class="banner center-block">
          <div><img src="/img/banner@2x.png" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/img/random/random-1.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/img/random/random-2.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/img/random/random-3.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/img/random/random-4.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/img/random/random-5.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
        </div>
      </div>

      {{#content}}
      <div class="row">
        <div class="col-xs-12">
          <h1>{{postTitle}}</h1>
          <img src="{{featuredImageURI}}" alt="{{featuredImageAltText}}" class="alignleft feature-image img-responsive" />
          <div class="content">{{{postContent}}}</div>
        </div>
      </div>
      {{/content}}
    </div>
  </section>

{{> footer}}
