{{! This is the Index of the Blog }}

{{> header}}

  <section id="content">
    <div class="container">
      <div class="row">
        <div id="banner">
          <img src="/img/banner@2x.png" alt="Swift Based Blog" class="img-responsive banner center-block" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h1>{{postTitle}}</h1>
          <img source"{{featuredImageURI}}" alt="{{featuredImageAltText}}" class="alignleft" />
          {{content}}
        </div>
      </div>
    </div>
  </section>

{{> footer}}
