{{> header}}

<body class="{{body_class}}">
    <form method="POST" enctype="multipart/form-data" action="" id="add-post-form">
        <input type="text" name="postTitle" placeholder="Post Title" /><br />
        <textarea rows="6" cols="100" name="postContent" form="add-post-form"></textarea>
        <input type="submit" value="Add Post">
    </form>

    {{#paramsCount}}
	<p>
		<ul>
			{{#params}}
				<li>{{paramName}} = {{paramValue}}</li>
			{{/params}}
		</ul>
	</p>
	{{/paramsCount}}
</body>

{{> footer}}
